.reviewContainer {
    margin-top: 1%;
    border: 1px #112D4E;
    border-radius: 10px;
}

.infoDiv {
    display: flex;
    flex-direction: row;
    font-size: 20px;
}

.nicknameText {
    margin-top: 1%;
    margin-left: 2%;
    display: flex;
    justify-content: left;
}

.reviewCount {
    margin: 1%;
    display: flex;
    justify-content: right;
    font-family: "Gmarket Sans Light";
    font-size: 18px;
}

.badge {
    margin: 1%;
    display: flex;
    justify-content: left;
}

.reviewTime {
    margin: 1%;
    display: flex;
    justify-content: right;
    font-family: "Gmarket Sans Light";
    font-size: 15px;
    padding-right: 1%;
    padding-bottom: 1%;
}

.heartReview {
    margin: 1%;
    display: flex;
    justify-content: right;
}

.icons {
    padding-left: 2%;
    padding-right: 2%;
}

.icons:hover {
    cursor: pointer;
}

.reviewTextDiv {
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 1%;
    font-size: 20px;
}

.nullDiv {
    display: flex;
    flex: 4;
}

.textDiv {
    padding: 1%;
    margin: 1%;
    background: #DBE2EF;
    border-radius: 10px;
}

.backgroundDiv {
    background: #F9F7F7;
    border-radius: 10px;
}

.imagesDiv {
    display: flex;
    margin: 1%;
    padding: 1%;
}

.reviewImage {
    width: 20%;
    height: 20vh;
    object-fit: cover;
    border-radius: 10px;
}