.background {
    display: flex;
    flex-direction: column;
    background-color: #DBE2EF;
}

.divBox {
    display: flex;
    border-radius: 10px;
    background-color: #F9F7F7;
    width: 90%;
    margin: 2% auto;
    position: relative;
}

.pw {
    width: 30%;
    margin: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pwTextDiv {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pwText {
    width: 90%;
    border: 3px solid #DBE2EF;
    font-size: 30px;
    background-color: #F9F7F7;
    font-family: 'Gmarket Sans Medium';
    outline: none;
    border-radius: 10px;
}

.btnBox {
    display: flex;
    justify-content: flex-end;
    border-radius: 10px;
    width: 95%;
    padding-bottom: 3%;
}

.changeBtn {
    background-color: #F9F7F7;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 100%;
    border: none;
    font-size: 20px;
    padding: 2%;
    font-family: 'Gmarket Sans Medium';
}

.changeBtn:hover {
    cursor: pointer;
}